
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-area {
  display: flex;
  justify-content: space-between;
}

.repository-list-area {
  width: 30%;
}

.repository-detail-area {
  width: 70%;
}

footer {
  background-color: #333;
  height: 50px;
}

footer small {
  padding-top: 15px;
  display: block;
  color: white;
  text-align: center;
}

.room-name-title {
  padding-left: 100px;
  border-bottom: solid 1px gainsboro;
  padding-bottom: 10px;
}

@media screen and (max-width:700px) {
  .main-area {
    display: block;
  }

  .repository-list-area {
    width: 80%;
    margin: 20px auto;
    padding-left: 70px;
  }
}


